@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
@import "~normalize.css";

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;

	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	
	::-webkit-scrollbar-track {
		background-color: #e4e4e4;
		border-radius: 100px;
	}
	
	::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background: #1F7645;
		box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	}
}

.excel {
	position: relative;
	color: #888;
	height: 100%;
	max-width: 100%;

	.btn {
		cursor: pointer;
		font-size: 24px;
		display: flex;
		justify-content:center;
		align-items: center;

		& + .btn {
			margin-left: 15px;
		}

		&:hover{
			color: rgb(165, 163, 163);
		}

		&:active{
			color: #000;
		}

		&-white {
			color: #fff;
		}

		&-black {
			color: #000;
		}
	}
}
