<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Excel</title>
  </head>
  <body>
    <div id="app" class="container">
			<div class="dashboard">
				<div class="dashboard__header">
					<h1>Excel dashboard</h1>
				</div>
				<div class="dashboard__new">
					<a href="#" class="dashboard__create">
						<span class="material-icons plus">add</span>
						<div>Новая таблица</div>
					</a>
				</div>
				<div class="dashboard__table table">
					<div class="table__header">
						<div>Название</div>
						<div>Дата открытия</div>
					</div>

					<ul class="table__list">
						<li class="record">
							<div>Таблица №1</div>
							<strong>09.08.2021</strong>
						</li>
						
						<li class="record">
							<div>Таблица №1</div>
							<strong>09.08.2021</strong>
						</li>
					</ul>
				</div>
			</div>
    </div>
  </body>
</html>
